<a href="https://colab.research.google.com/github/Subodhkalla68/Github1/blob/main/module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
n=int(input(""))
r=int(input(""))
def nCr(n, r):
 
    return (fact(n) / (fact(r)
                * fact(n - r)))
 
def fact(n):
 
    res = 1
     
    for i in range(2, n+1):
        res = res * i
         
    return res


print(int(nCr(n, r)))

Enter your nth number43
Enter your r number32
5752004349

In [28]:
def GCD(x,y):
    r=x%y
    if(r==0):
        return y
    else:
        return GCD(y,r)
n= int(input(""))
m= int(input(""))
print("", GCD(n,m))

Enter the first number :45
Enter the second number :54
The GCD of two numbers is: 9

In [27]:
def mult(a,b):
  return a*b
n= int(input(""))
m= int(input(""))
print("", mult(n,m))

Enter the first number :4
Enter the second number :5
The product of two numbers is: 20

In [25]:
def fib(a):
   if a<= 1:
       return a
   else:
       return(fib(a-1) + fib(a-2))
a=int(input(""))
for i in range(a):
  print(fib(i))

enter until where you want the series10
0
1
1
2
3
5
8
13
21
34

In [23]:
a=eval(input(""))
b=[]
for i in range(len(a)):
  if i==0 or i==4 or i==5:
    pass
  else:
    b.append(a[i])
a=b
print(a)

enter list:[1,2,3,4,5,6]
[2, 3, 4]

In [22]:
a=eval(input(""))
for i in range(2):
  min=a[0]
  for j in a:
    if j<min:
      min=j
  if i==0:
    a.remove(min)
for i in range(2):
  max=a[0]
  for j in a:
    if j>max:
      max=j
  if i==0:
    a.remove(max)
print(min,max)

Enter a list:[0,1,2,3,4,5,6,7,8,9]
1 8

In [21]:
a=eval(input(""))
b=[]
for i in a:
  c=(i,i*i)
  b.append(c)
print(b)

Enter a list of numbers:[1,2,3,4,5,6,7]
[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49)]

In [20]:
a={}
b=eval(input(""))
for i in b:
  a[i]=i*i
print(a)

Enter list of numbers:{1:12,2:14,3:10,4:5}
{1: 1, 2: 4, 3: 9, 4: 16}

In [18]:
a=eval(input(""))
b=input("")
del a[b]
print(a)

Enter dictionary:{"hi":1,"bye":2,"bruh":3}
Enter key to remove:bye
{'hi': 1, 'bruh': 3}

In [19]:
a=eval(input(""))
b=[]



for i in a:
  b.append(i)
max,min=a[b[0]],a[b[0]]
for i in b:
  if max<a[i]:
    max=a[i]
for i in b:
  if min>a[i]:
    min=a[i]
print(max,min)

Enter a dictionary:{1:12,2:14,3:10,4:5}
14 5

In [5]:
a=input("")
b=input("")
c=len(b)
d=0
for i in range(len(a)-c+1):
  #print(a[i:i+c])
  if(a[i:i+c]==b):
    d+=1
print(d)

Enter a string:what is a string
Enter the substring:okay
0

In [4]:
a=int(input(""))
b=int(input(""))
c=int(input(""))
if a==b==c:
    print("Your triangle is Eqilatral")
elif a==b or b==c or c==a:
    print("Your triangle is isociles")
else:
  print("scalene")

Enter your angle:54
Enter your angle:64
Enter your angle:90
scalene

In [3]:
a=int(input(""))
if a%4==0:
  print("Leep year")
else:
  print("Not a leap year")

Enter your year: 2001
Not a leap year

In [2]:
n=int(input(""))
temp=n
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
if(temp==rev):
    print("palindrome")
else:
    print("Not palindrome")

Enter number:4
palindrome

In [1]:
x = 5
y = 7
 
print ("Before swapping: ")
print("Value of x : ", x, " and y : ", y)
 

x, y = y, x
 
print ("After swapping: ")
print("Value of x : ", x, " and y : ", y)

Before swapping:
Value of x :  5  and y :  7
After swapping:
Value of x :  7  and y :  5