<a href="https://colab.research.google.com/github/Subodhkalla68/Github1/blob/main/Module3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [ ]:
import pandas as pd
import csv
import json

Reading a File

In [ ]:
fil = open(r'/drive/My Drive/Colab Notebooks/Module-3 files/file.txt', 'r')
print(fil.read())

fil.close()

Twinkle, twinkle, little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle, twinkle, little star
How I wonder what you are
Twinkle, twinkle, little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle, twinkle, little star
How I wonder what you are
Twinkle, twinkle, little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle, twinkle, little star
How I wonder what you are
Twinkle, twinkle, little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle, twinkle, little star
How I wonder what you are

Reading n Lines

In [ ]:
fil = open(r'/drive/My Drive/Colab Notebooks/Module-3 files/file.txt', 'r')
n = int(input('Number of Lines: '))
lines = fil.readlines()
for i in range(0, n): print(lines[i])
fil.close()

Number of Lines: 6
Twinkle, twinkle, little star

How I wonder what you are

Up above the world so high

Like a diamond in the sky

Twinkle, twinkle, little star

How I wonder what you are

Append Text

In [ ]:
fil = open(r'/drive/My Drive/Colab Notebooks/Module-3 files/file.txt', 'a')
st = input('Text: ')
fil.write(st)
fil.close()
fil = open(r'/drive/My Drive/Colab Notebooks/Module-3 files/file.txt', 'r')
print(fil.read())
fil.close()

Text: Johnny Johnny Yes Papa
Twinkle, twinkle, little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle, twinkle, little star
How I wonder what you are
Twinkle, twinkle, little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle, twinkle, little star
How I wonder what you are
Twinkle, twinkle, little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle, twinkle, little star
How I wonder what you are
Twinkle, twinkle, little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle, twinkle, little star
How I wonder what you are

Johnny Johnny Yes Papa Johnny Johnny Yes Papa

Even Odd Seperator

In [ ]:
num_file = open(r'/drive/My Drive/Colab Notebooks/Module-3 files/numbers.txt', 'r')
numbers = num_file.readlines()
even_file = open(r'/drive/My Drive/Colab Notebooks/Module-3 files/even.txt', 'a')
odd_file = open(r'/drive/My Drive/Colab Notebooks/Module-3 files/odd.txt', 'a')
for i in numbers:
  num = int(i.strip())
  if num % 2 == 0:
    even_file.write(i)
  else:
    odd_file.write(i)
num_file.close()
even_file.close()
odd_file.close()

Word Character and Line Count

In [ ]:
fil = open('/drive/My Drive/Colab Notebooks/Module-3 files/file.txt', 'r')
content = fil.read()
words = content.split(' ')
fil.seek(0)
lines = fil.readlines()
char_count = 0
word_count = len(words)
line_count = len(lines)
for i in content:
  char_count += 1
print('Character Count: ', char_count)
print('Word Count: ', word_count)
print('Line Count: ', line_count)
fil.close()

Character Count:  706
Word Count:  112
Line Count:  26

List to a File

In [ ]:
fil = open(r'/drive/My Drive/Colab Notebooks/Module-3 files/file2.txt', 'w')
n = ['Hi there', 'My name is anonymous']
fil.writelines(n)
fil.close()

CSV Reading as Dataframe

In [ ]:
df = pd.read_csv(r'/drive/My Drive/Colab Notebooks/Module-3 files/sample1.csv', encoding='unicode_escape')
print(df)

  Month   "Average"   "2005"   "2006"   "2007"   "2008"   "2009"   "2010"  \
0   May         0.1        0        0        1        1        0        0
1   Jun         0.5        2        1        1        0        0        1
2   Jul         0.7        5        1        1        2        0        1
3   Aug         2.3        6        3        2        4        4        4
4   Sep         3.5        6        4        7        4        2        8
5   Oct         2.0        8        0        1        3        2        5
6   Nov         0.5        3        0        0        1        1        0
7   Dec         0.0        1        0        1        0        0        0

    "2011"   "2012"   "2013"   "2014"   "2015"
0        0        2        0        0        0
1        1        2        2        0        1
2        3        0        2        2        1
3        7        8        2        2        3
4        5        2        5        2        5
5        1        5        2        3        0
6        1        0        1        0        1
7        0        0        0        0        1

Condition in Dataframes

In [ ]:
rslt_df = df[df[' "Average"']>1.0]
print('Result Dataframe: \n', rslt_df)

Result Dataframe:
   Month   "Average"   "2005"   "2006"   "2007"   "2008"   "2009"   "2010"  \
3   Aug         2.3        6        3        2        4        4        4
4   Sep         3.5        6        4        7        4        2        8
5   Oct         2.0        8        0        1        3        2        5

    "2011"   "2012"   "2013"   "2014"   "2015"
3        7        8        2        2        3
4        5        2        5        2        5
5        1        5        2        3        0

Average Salary by Occupation

In [ ]:
fil = pd.read_csv('/drive/My Drive/Colab Notebooks/Module-3 files/employees.csv', encoding='unicode_escape')
occu_avg = fil.groupby(['DEPARTMENT_ID'])['SALARY'].mean()
print(occu_avg)

DEPARTMENT_ID
10      4400.000000
20      9500.000000
30      4150.000000
40      6500.000000
50      3721.739130
60      5760.000000
70     10000.000000
90     19333.333333
100     8601.333333
110    10154.000000
Name: SALARY, dtype: float64

Object to JSON

In [ ]:
jsonArray = []
csvfil = open(r'/drive/My Drive/Colab Notebooks/Module-3 files/sample1.csv', 'r', encoding='utf-8')
csvreader = csv.DictReader(csvfil)
for row in csvreader:
  jsonArray.append(row)
jsonfil = open(r'/drive/My Drive/Colab Notebooks/Module-3 files/jsonfile.json', 'w', encoding='utf-8')
jsonString = json.dumps(jsonArray, indent=4)
jsonfil.write(jsonString)
csvfil.close()
jsonfil.close()

Reading Columns

In [ ]:
df = pd.read_csv(r'/drive/My Drive/Colab Notebooks/Module-3 files/sample1.csv', encoding='unicode_escape')
colfil = df.loc[2:5,['Month',' "Average"']]
print(colfil)

  Month   "Average"
0   May         0.1
1   Jun         0.5
2   Jul         0.7
3   Aug         2.3
4   Sep         3.5
5   Oct         2.0
6   Nov         0.5
7   Dec         0.0